@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
    background-color: #845EC2;
    overflow: hidden;
}

.navbar {
    display: flex;
    position: fixed;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 8%;
    background-color: #4B4453;
}

.navbar .menu {
    display: flex;
    justify-content: center;
    list-style: none;
}

.navbar .menu li {
    border-style: solid;
    border-radius: 10px;
    transition: all 300ms ease;
    color: #D8EFF8;
}

.navbar .menu li a {
    padding-right: 10px;
    padding-left: 10px;
    /* border-style: solid;
    border-radius: 10px; */
    text-decoration: none;
    color: #D8EFF8;
    font-size: 25px;
    font-weight: bolder;
    transition: all 300ms ease;
}

.seperator {
    margin: 0 20px;
}

.navbar .menu li:hover {
    transform: translate(-5px, -5px);
    box-shadow: 2px 2px 0 1px #D8EFF8;
}

.home,
.academics,
.projects,
.about,
.career {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    /* margin-top: 55px; */
    /* width: 1000px; */
    overflow: hidden;
}

.content {
    width: 600px;
    margin-left: 40px;
    overflow: hidden;
}

.content .text {
    position: relative;
    color: #4070F4;
    font-size: 30px;
    font-weight: 600;
}

.content .text.first-text {
    color: #F9F871;
    margin-right: 10px;
    font-size: 60px;
}

.content .text.sec-text {
    color: #FBEAFF;
    font-size: 60px;
}

.text.sec-text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #845EC2;
    border-left: 2px solid #eef2e2;
    animation: animate 3s steps(12) infinite;
}

@keyframes animate {

    40%,
    60% {
        left: calc(100% + 4px);
    }

    100% {
        left: 0%;
    }
}